body {
    background-color: #FEFEFE;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

hr {
    border-top: 1px solid #d3d3d3;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.control-label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .form-control:focus {
        border-color: #007bff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

.btn {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary2 {
    color: #fff;
    background-color: #127C78;
    border-color: #083837;
}

    .btn-primary2:hover {
        color: #127C78;
        background-color: #ffffff;
        border-color: #127C78;
    }

    .btn-primary2:focus,
    .btn-primary2.focus {
        color: #fff;
        background-color: #0069d9;
        border-color: #0062cc;
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    }

    .btn-primary2.disabled,
    .btn-primary2:disabled {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary2:not(:disabled):not(.disabled):active,
    .btn-primary2:not(:disabled):not(.disabled).active,
    .show > .btn-primary2.dropdown-toggle {
        color: #fff;
        background-color: #0062cc;
        border-color: #005cbf;
    }

        .btn-primary2:not(:disabled):not(.disabled):active:focus,
        .btn-primary2:not(:disabled):not(.disabled).active:focus,
        .show > .btn-primary2.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
        }

.text-danger {
    color: #dc3545;
}
