body {
    background-color: lightcyan;
}

/* Page header styles */
h1 {
    font-size: 36px;
    font-weight: bold;
    color: #004d40;
    margin-bottom: 30px;
    text-align: center;
}

/* Paragraph styles */
p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Table styles */
table {
    border-collapse: collapse;
    margin-bottom: 40px;
}

th {
    background-color: #004d40;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    text-align: left;
}

td {
    border: 1px solid #ccc;
    padding: 10px 20px;
}

/* Link styles */
a {
    color: #004d40;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

    a:hover {
        color: #fff;
        background-color: #004d40;
    }
