@{
    string userName = "";
    if (!TempData["UserName"].Equals(null))
    {
        userName = TempData["UserName"].ToString();
        TempData.Keep("UserName");
    }
        

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Driving_school</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Navbar.css" />
</head>
<body class="navbar-body">
    <header class="navbar-header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @if (TempData["UserType"] != null && TempData["UserType"].Equals("Teacher"))
                {
                    TempData.Keep("UserType");
                    <a class="navbar-brand" asp-area="" asp-controller="Teacher" asp-action="Index">Driving school</a>
                }
                else if (TempData["UserType"] != null && TempData["UserType"].Equals("Student"))
                {
                    TempData.Keep("UserType");
                    <a class="navbar-brand" asp-area="" asp-controller="Student" asp-action="Index">Driving school</a>
                }
                else{
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Driving school</a>
                }
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @if (TempData["IsLoggedIn"] != null && (bool)TempData["IsLoggedIn"])
                    {
                        TempData.Keep("IsLoggedIn");
                        <ul class="navbar-nav flex-grow-1">
                        @if (TempData["UserType"] != null && TempData["UserType"].Equals("Teacher"))
                        {
                            <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="AddLesson">Lesson Scheduling</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="AddMistake">Append Mistake</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Teacher" asp-action="Grading">Grading</a>
                            </li>
                            TempData.Keep("UserType");
                        }
                        else if (TempData["UserType"] != null && TempData["UserType"].Equals("Student"))
                        {
                            TempData.Keep("UserType");
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="History">History</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="Schedule">Schedule</a>
                            </li>
                        }
                       
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                        
                            <li>
                                <a>@userName</a>
                            </li>
                       

                        <ul class="navbar-nav d-flex justify-content-end">
                            <li class="nav-item">
                                <a class="btn btn-primary1" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        @*<ul class="navbar-nav d-flex flex-grow-1">
                            <div class="row">
                                <div class="col-sm-6">
                                    <li class="nav-item">
                                        <a asp-controller="TeacherInfo" asp-action="Index" class="btn btn1">Teachers</a>
                                    </li>
                                </div>
                                <div class="col-sm-6">
                                    <li class="nav-item">
                                        <a asp-controller="Cars" asp-action="Index" class="btn btn1">Cars</a>
                                    </li>
                                </div>
                            </div>
                            <li class="nav-item ml-auto">
                                <a asp-controller="Login" asp-action="Index" class="btn btn-primary1">Login</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Register" asp-action="Create" class="btn btn1">Register</a>
                            </li>
                        </ul>*@
                        <ul class="navbar-nav d-flex flex-grow-1">
                            <li class="nav-item">
                                <a asp-controller="TeacherInfo" asp-action="Index" class="btn btn1">Teachers</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Cars" asp-action="Index" class="btn btn1">Cars</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav d-flex justify-content-end">
                            <li class="nav-item ml-auto">
                                <a asp-controller="Login" asp-action="Index" class="btn btn-primary1">Login</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Register" asp-action="Create" class="btn btn1">Register</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Driving_school - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>