@model Driving_school.Models.Lesson
@using Driving_school.Services;
<head>
    <link rel="stylesheet" href="/css/StudentSchedule.css">
</head>
@{
    string userName = TempData["UserName"].ToString();
    TempData.Keep("UserName");
    SecurityDAO securityDAO = new SecurityDAO();
    List<User> users = securityDAO.FindAllStudents();
}
<h4>Lesson</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddLesson" asp-route-instructorName="@userName">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentUsername" class="control-label"></label>
                <select asp-for="StudentUsername" class="form-control" id="student-dropdown">
                    <option value="">-- Select a user --</option>
                    @foreach (var user in users)
                    {
                        <option value="@user.Name">@user.Name</option>
                    }
                </select>
                <span asp-validation-for="StudentUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
