<head>
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
    <link rel="stylesheet" href="/css/Cars.css">
</head>

<div class="text-center">
    <h1 class="display-4">Driving School Cars</h1>
    <div class="car-container">
        <div class="car">
            <img src="https://img.caramba.lt/kwo_c9tXUiDo5Pvw72ucgG6Kx69fVGjCYaSQBxNT6MA/w:0/h:0/rt:force/g:sm/f:webp/wm:0.25:soea:20:20:0.05/aHR0cHM6Ly9jYXJhbWJhLWludmVudG9yeS5zMy5ldS1jZW50cmFsLTEuYW1hem9uYXdzLmNvbS9nYWxsZXJ5LzIwMjMvMDQvMTkvMDAvMzMvMzcvZWNkOGZmMDMtZjQ2MS00NzgyLWE0ZjktM2NmNDU2ODYzMDE0LmpwZw.webp" 
            alt="Toyota">
            <div class="car-info">
                <h3>Driving School Car 1</h3>
                <ul>
                    <li>Make: Toyota</li>
                    <li>Model: Corolla</li>
                    <li>Transmission: Automatic</li>
                    <li>Engine: 1.8L 4-cylinder</li>
                    <li>Features: Backup camera, lane departure warning, automatic emergency braking</li>
                </ul>
            </div>
        </div>
        <div class="car">
            <img src="https://www.autotaurage.lt/foto/honda-civic-677_img_2273.jpg" alt="Honda">
            <div class="car-info">
                <h3>Driving School Car 2</h3>
                <ul>
                    <li>Make: Honda</li>
                    <li>Model: Civic</li>
                    <li>Transmission: Manual</li>
                    <li>Engine: 2.0L 4-cylinder</li>
                    <li>Features: Rearview camera, adaptive cruise control, blind spot monitoring</li>
                </ul>
            </div>
        </div>
        <div class="car">
            <img src="https://kauto.lt/wp-content/uploads/2023/03/IMG_5894-1024x683.jpg" alt="Ford">
            <div class="car-info">
                <h3>Driving School Car 3</h3>
                <ul>
                    <li>Make: Ford</li>
                    <li>Model: Focus</li>
                    <li>Transmission: Automatic</li>
                    <li>Engine: 2.0L 4-cylinder</li>
                    <li>Features: Front and rear parking sensors, cross traffic alert, adaptive headlights</li>
                </ul>
            </div>
        </div>
    </div>
</div>
