<h1>Teachers</h1>

<div>
    <h2>John Doe</h2>
    <img img src="https://static.boredpanda.com/blog/wp-content/uploads/2018/12/ai-image-generation-fake-faces-people-nvidia-5c18b20b472c2__700.jpg" alt="John Doe" width="200" height="200" />
    <p>Phone: 123-456-7890</p>
    <p>Email: john.doe@example.com</p>
</div>

<div>
    <h2>Jane Smith</h2>
    <img img src="https://qodebrisbane.com/wp-content/uploads/2019/07/This-is-not-a-person-4.jpeg" alt="John Doe" width="200" height="200" />
    <p>Phone: 888-888-8888</p>
    <p>Phone: 555-555-5555</p>
    <p>Email: jane.smith@example.com</p>
</div>

<div>
    <h2>Bob Johnson</h2>
    <img img src="https://static.boredpanda.com/blog/wp-content/uploads/2018/12/ai-image-generation-fake-faces-people-nvidia-5c18acb9cd17f__700.jpg" alt="John Doe" width="200" height="200" />
    <p>Phone: 888-888-8888</p>
    <p>Email: bob.johnson@example.com</p>
</div>