<!DOCTYPE html>
<html>
<head>
    <title>Teachers</title>
    <link rel="stylesheet" href="/css/TeacherInfo.css">
</head>
<body>
    <div class="display-4">
        <h1>Our Teachers</h1>
    </div>

    <div class="teacher-container">
        <div class="teacher">
            <img src="https://static.boredpanda.com/blog/wp-content/uploads/2018/12/ai-image-generation-fake-faces-people-nvidia-5c18b20b472c2__700.jpg" alt="John Doe">
            <div class="teacher-info">
              <h2>John Doe</h2>
              <p>Experience on Driving: 10 years</p>
              <p>Phone: 123-456-7890</p>
              <p>Email: john.doe@example.com</p>
            </div>
        </div>

        <div class="teacher">
            <img src="https://qodebrisbane.com/wp-content/uploads/2019/07/This-is-not-a-person-4.jpeg" alt="Jane Smith">
            <div class="teacher-info">
              <h2>Jane Smith</h2>
              <p>Experience on Driving: 5 years</p>
              <p>Phone: 555-555-5555</p>
              <p>Email: jane.smith@example.com</p>
            </div>
        </div>

        <div class="teacher">
            <img src="https://static.boredpanda.com/blog/wp-content/uploads/2018/12/ai-image-generation-fake-faces-people-nvidia-5c18acb9cd17f__700.jpg" alt="Bob Johnson">
            <div class="teacher-info">
              <h2>Bob Johnson</h2>
              <p>Experience on Driving: 15 years</p>
              <p>Phone: 888-888-8888</p>
              <p>Email: bob.johnson@example.com</p>
            </div>
        </div>
    </div>
</body>
</html>
