
@{
    ViewData["Title"] = "Home Page";
}

<head>
  <link rel="stylesheet" href="/css/HomeIndex.css">
</head>
 

<div class="text-center">
    <h1 class="display-4">Welcome to Driving School System!</h1>
    <img src="https://www.drive2schools.com/hubfs/Stock%20images/5ce3d6e73f26d.jpeg" alt="Driving School">
   @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
@* https://www.drive2schools.com/hubfs/Stock%20images/5ce3d6e73f26d.jpeg *@