@{
    ViewData["Title"] = "Information";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Privacy.css" />
</environment>
<h1>@ViewData["Title"]</h1>

<p> This system is intended for driving school students.</p>
<p> System was created by the team "Komanda 3".</p>
<p>  Team members: Erikas Briauka, Simas Tijusas, Justinas Saparnis, Matas Palujanskas.</p>
